<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      Home
    </a>
    <div>
      <span class="navbar-text">
        <a class="nav-link" data-method="delete" href="<%= destroy_user_session_path %>">Logout
          <i class="fa fa-sign-out" style="color: red"></i>
        </a>
      </span>
    </div>
  </div>
</nav>
